#words-container {
  display: grid;
}
#words-container ul {
  border: 2px solid var(--border);
  padding: 0;
  padding: 1rem;
}
#words-container li {
  list-style: none;
  padding: 0.8rem;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#words-container button {
  margin: 0.8rem;
}
#words-container ul span:nth-child(1) {
  font-size: 1rem;
  padding: 0.5rem;
  border: solid 1px var(--border);
  margin-right: 1rem;
}
.cover span:nth-child(2) {
  background-color: var(--text-main);
}
span {
  font-size: 1.4rem;
}
.hidden {
  display: none;
}
