* {
  padding: 0;
  margin: 0;
}
body {
  padding-left: 1rem;
  padding-right: 1rem;
}
#sheet-name {
  margin: 10px 0;
}
#cards-container .card {
  border: 2px solid var(--border);
  padding: 1rem;
  margin: 1rem 0;
  transition: 0.3s;
}
.card ul {
  display: flex;
}
.card li:nth-child(1) {
  border: 2px solid var(--border);
}
.card li:nth-child(2) {
  font-size: 1.2rem;
}
.card li:nth-child(2).cover {
  background-color: var(--text-main);
}
.card li {
  transition: 0.2s;
  cursor: pointer;
  list-style: none;
  padding: 7px;
  margin: 0.5rem;
}
.hidden {
  display: none;
  transition: .2s;
}
.card button {
  margin-left: 5px;
}
#reset-storage {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}